
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747972667967-lvo93saupfrpsu0umi8tebk0sll46nbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747972667967-lvo93saupfrpsu0umi8tebk0sll46nbr</string>
	<key>API_KEY</key>
	<string>AIzaSyDeL5FzGiTC7MRynXMN3v8sKc9phraobfM</string>
	<key>GCM_SENDER_ID</key>
	<string>747972667967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.alvarenga.lojavirtual.lojaVirtual</string>
	<key>PROJECT_ID</key>
	<string>lojavirtualflutter-d54ac</string>
	<key>STORAGE_BUCKET</key>
	<string>lojavirtualflutter-d54ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747972667967:ios:be25a4c9cae5162d</string>
	<key>DATABASE_URL</key>
	<string>https://lojavirtualflutter-d54ac.firebaseio.com</string>
</dict>
</plist>